{% extends "html/Unauthenticated/Base_Template.html" %}
{% block content %}
<h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
{{ form.hidden_tag() }}
<div class="input-group mb-2">
   {{form.password(type="password", class="form-control", placeholder="Password", value=request.form.password)}}
      <meter max="4" id="password-strength-meter" style="margin: 0px"></meter>
   <div id="password-strength-text" style="width: 100%; margin: 5px; font-size:13px;"></div>
   {{form.confirm_password(type="password", class="form-control", placeholder="Confirm Password", value=request.form.confirm_password)}}
</div>
{% endblock content %}
{% block after_flash %}
{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 14px;">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
   {{error}}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{{ form.submit(class="btn btn-lg btn-primary btn-block")}}
<br>
<a class="mt-5 mb-3 text-muted" href="{{url_for('login_page')}}">Already have an account? Sign in</a>
{% endblock after_flash %}

{% block script %}
<script>
   $(document).ready(function(){
       var strength = {
        0: "Bad",
        1: "Weak",
        2: "Good",
        3: "Strong",
        4: "Strong"
       }

       $('#password').keyup('click', function() {
           result = zxcvbn($('#password').val());
           $('#password-strength-meter').val(result.score);
           $('#password-strength-text').html("<strong>Strength: " + strength[result.score] + " - Estimated Crack Time: "+result.crack_times_display.online_no_throttling_10_per_second+".</strong>" + "<p style=\"margin-bottom: 3px;\"> " + result.feedback.warning+" "+result.feedback.suggestions+"</p>");
       });
});
</script>
{% endblock script %}