{% extends "html/Dashboard/Base_Template.html" %}
{% block content %}
<form class="form-signin"  method="POST" >
{{form.faculty_name(class="form-control", placeholder="Faculty Name")}}
{{form.is_Active.label}}
{{form.is_Active}}
    {% endblock content %}
{% block after_flash %}
{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 14px;">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
   {{error}}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
   <div style="width: 100%;   position: relative;    text-align: center;">

   {{ form.submit(class="btn btn-lg btn-primary")}}
    </div>
</form>
{% endblock %}
